:root {
	--main-bg: #000000;
	--secondary-bg: #151515;
	--primary-text: #ffffff;
	--secondary-text: #fafafa;
	--accent-color: #d23166;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

body {
	font-family: 'Manrope', sans-serif;
	color: var(--primary-text);
	background-color: var(--main-bg);
}

img {
	display: flex;
	max-width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	font-family: 'Hind Madurai', sans-serif;
	font-size: 16px;
	line-height: 1;
	text-transform: capitalize;
	color: var(--secondary-text);
	background-color: var(--accent-color);
	cursor: pointer;
	border: none;
	border-radius: 5px;
}

.title-text {
	font-family: 'Alexandria';
	font-weight: 400;
	font-size: 57.33px;
	line-height: 0.94;
	letter-spacing: -4px;
	opacity: 90%;
}

.title-text span {
	color: var(--accent-color);
}

.main-text {
	font-size: 18px;
	line-height: 1.5;
}

.section {
	padding-block: 60px;
}

.container {
	width: 100%;
	max-width: 1440px;
	margin-inline: auto;
	padding-inline: 96px;
}

.header {
	height: 132px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
    margin-top: 40px;
}

.header__social-list {
    display: flex;
	justify-content: space-around;
	gap: 15px;
}

.header__navigation__list {
	max-width: 507px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex: 1 0 auto;
	gap: 16px;
	list-style: none;
}

.navigation__list,
.contact__list,
.location__list,
.header__social-list {
	list-style: none;
}

.navigation__list {
	max-width: 507px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex: 1 0 auto;
	gap: 16px;
}

.hero-container {
	display: flex;
	justify-content: space-between;
}

.hero__subtitle {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 1.4px;
}

.hero__title {
	margin-bottom: 16px;
}

.hero__description {
	margin-bottom: 48px;
	opacity: 60%;
	font-weight: 400;
}

.hero__btn {
	font-weight: 700;
	padding: 13.5px 50px;
	max-width: 165px;
	width: 100%;
}

.hero__image-wrapper {
	max-width: 588px;
}

.hero__overview {
    max-width: 587px;
}

.about-container {
	position: relative;
	padding-top: 69px;
	padding-bottom: 45px;
}

.about__description {
	text-align: center;
}

.about__description.title-text span {
	color: var(--primary-text);
	opacity: 20%;
}

.about__image {
	position: absolute;
	aspect-ratio: 1/1; /* робить сторони одинаковими як в квадраті (ширина елементу = висоті елементу) */
}

.about__image-pistachio {
	top: 0;
	right: 216px;
}
.about__image-milk {
    top: 170px;
    left: 129px;
}

.about__image-strawberry {
    left: 624px;
    top: 309px
}

.about-section {
    margin-top: 150px;
}

.products__title-wrapper {
	margin-bottom: 56px;
}

.products__navigation-btn {
	border-radius: 50%;
	padding: 12px;
	background-color: #ffffff10;
    margin-top: 30px;
	margin-right: 9px;
	margin-left: 9px;
}

.products__navigation-btn svg {
	display: block;
}

.products__list {
	overflow: auto;
    display: flex;
	gap: 20px;

}


.product {
	display: flex;
	flex-direction: column;
	flex-basis: 297px;
}

.product__image {
	width: 297px;
	height: 274px;
	/* object-fit: cover; --- картинка підлаштовується під розміри блоку, залишаючи всі пропорції */
	/* object-position: center; --- позиціонує центр картинки в центрі блоку */
	border-radius: 20px;
}

.product__wrapper {
	display: flex;
	flex-direction: column;
	padding: 24px 30px;
	background-color: var(--secondary-bg);
	border-radius: 20px;
	flex-grow: 1;
}

.product__name {
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1;
	margin-bottom: 18px;
}

.product__description {
	opacity: 70%;
	margin-bottom: 28px;
	flex-grow: 1;
	opacity: 70%;
}

.product__price {
	font-family: 'Hind Madurai', sans-serif;
	font-weight: 500;
	font-size: 26px;
	line-height: 1;
	margin-bottom: 16px;
}

.product__price sub {
	font-size: 20px;
	text-decoration: line-through;
	opacity: 70%;
}

.product__buy-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1;
	padding: 15px 0;
	width: 100%;
}

.products__item {
 display: flex;
 flex-shrink: 0;
 flex-basis: 297px;
 flex-direction: column;
}

.products__title-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.app-container {
   display: flex;
   justify-content: space-between;
}

.app__title {
	font-family: "Roboto", sans-serif;
	font-size: 56px;
	font-weight: 500;
	margin-bottom: 16px;
}

.app__description {
	font-size: 18px;
	line-height: 1.5;
	opacity: 60%;
	margin-bottom: 64px;
}

.app__overview {
    max-width: 466px;
	width: 100%;
}

.app__download-list {
   list-style: none; 
}

.app__steps {
	margin-bottom: 48px;
	list-style: none;
}

.steps {
	margin-bottom: 48px;
}

.steps__item {
	position: relative;
}

.steps__item:not(:last-child) {
	margin-bottom: 26px;
}

.steps__item:not(:last-child)::after {
	content: '';
	position: absolute;
	width: 1px;
	height: 22px;
	left: 23px;
	bottom: -50%;
	transform: translateX(-50%);
	background-color: #ffffff60;
}

.steps__item-text {
	font-size: 18px;
	line-height: 1.5;
	opacity: 60%;
	display: flex;
	align-items: center;
	gap: 16px;
}

.steps__item-text span {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 48px;
	border: 1px solid #ffffff60;
	border-radius: 50%;
	width: 48px;
	aspect-ratio: 1/1;
}

.app__image-wrapper {
	flex: 1 0 782px;
	width: 782px;
	height: 810px;
}

.question-section {
	height: 684px;
}

.question__inner-wrapper {
	max-width: 653px;
	margin: 0 auto;
}

.question__title {
	text-align: center;
	margin-bottom: 56px;
}

.question-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(./);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container__form {
    justify-content: center;
    display: flex;
    align-content: center;
}

.question__form {
	display: flex;
	width: 100%;
	border: 1px solid white;
	border-radius: 9999px;
}

.form-input {
	background-color: transparent;
	border: none;
	padding: 23.5px 30px;
	width: 100%;
	font-size: 20px;
	color: var(--primary-text);
}

.form-input::placeholder {
	font-size: 20px;
}

.form-input:focus {
	outline: none;
}

.form-submit {
	border-radius: 9999px;
	padding-inline: 44px;
	font-size: 20px;
	font-weight: 500;
	font-family: "Roboto", sans-serif;
}

.footer-container {
	display: flex;
    gap: 176px;
}

.social-list__item {
	list-style: none;
}

.footer__panel {
   flex-grow: 1;
   font-size: 18px;
}

.footer__panel:not(:first-child) {
	text-wrap: nowrap;
}

.footer__panel:not(:first-child) a{
	display: block;
}

.footer__social-list {
	display: flex;
}

.footer-logo {
    max-width: 176px;
	width: 100%;
	margin-bottom: 24px;
}

.footer-logo img {
	width: 100%;
}

.footer__text {
	font-size: 14px;
	margin-bottom: 24px;
	opacity: 60%;
}

.social-list__item__footer {
	margin-right: 10px;
	list-style: none;
}

address {
	font-style: normal;
}

.panel__title {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 33px;
}

.navigation__list {
	flex-direction: column;
	max-width: 507px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex: 1 0 auto;
	gap: 16px;
	opacity: 60%;
}

.contact__list {
	flex-direction: column;
	max-width: 507px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex: 1 0 auto;
	gap: 16px;
	opacity: 60%;
}

.location__list {
	flex-direction: column;
	max-width: 507px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex: 1 0 auto;
	gap: 16px;
	opacity: 60%;
}

.footer {
	background-color: var(--secondary-bg);
	padding-block: 100px;
}